{% extends "base.html.twig" %}

{% block title %}
	Nicolas Vanlauwe - À propos
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('build/app.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{asset("build/app.js")}}"></script>
	<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
{% endblock %}

{% block header %}
	<div class="header"></div>
{% endblock %}

{% block body %}
	<div class="container mt-3 contain-about">
		<div class="apropos">
			<div class="texte-apropos reveal-left">
				<p>
					Bonjour,
					<br>
					Je m'appelle
					<strong>Nicolas Vanlauwe</strong>, j'ai 23 ans et j’habite en Alsace. Dans mon enfance j'ai toujours été attiré
					par les ordinateurs ou la technologie de manière générale. De fil en aiguille et notamment grâce aux jeux vidéo j'ai découvert le 
					<b>développement informatique</b>
					et j'ai tout de suite accroché. C'est pourquoi j'ai décidé d'en faire ma passion et mon travail. 
					Je me tourne alors vers un
					<b>DUT Informatique</b>
					pour la suite de mes études. Cette première année fut très intéressante, j’ai pu m’introduire à différents
					<strong>langages de développement</strong>. En revanche la deuxième année m’a nettement moins intéressé, 
					c’est pourquoi j’ai arrêté mon DUT au cours de cette dernière. À la suite de cela je me suis alors permis de prendre 2 années "sabbatiques" 
					pour me ressourcer et surtout chercher ce que je souhaitais réellement faire professionnellement.
					<br><br>
					Après mûre réflexion je sais ce que je veux : me lancer dans le
					<strong>développement web</strong>. Je regrette ces années perdues mais j'ai encore plus de motivation. 
					Grâce à mon <b>diplôme</b>, au <b>bagage de ma première année</b> et aux <b>projets</b> entrepris de manière autodidacte ; 
					je recherche un contrat ou un stage dans le but de me professionnaliser.
				</p>
			</div>
			<div class="imagedl-apropos appear">
				<img class="photo-apropos" src="{{asset('build/images/photo_about.JPG')}}" alt="photo a propos">
				<a href="{{asset('build/files/cv_nicolas_vanlauwe.pdf')}}" download>
					<button type="button" class="btn btn-outline-info btn-lg">
						<i class="fa-solid fa-download"></i>
						Télécharger mon CV</button>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
